* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--bg: #e3e4e8;
	--fg: #17181c;
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

body {
	background: var(--bg);
	color: var(--fg);
	font: 1em/1.5 system-ui, -apple-system, sans-serif;
	height: 100vh;

	padding 40px

	&.loading {
    pointer-events: none;
    filter: blur(5px)
	}
}

form.loading {
  pointer-events: none;
  filter: grayscale(1)
  opacity 0.4
}

